/* BUTTONS */

/* Primary button  */

.primary-button {
  padding: 0.5em 1.5em;
  background-color: var(--steel-blue-500);
  color: var(--white);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: small;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s ease;
  border: 2px solid var(--steel-blue-500);
}

.primary-button:hover {
  background-color: var(--steel-blue-50);
  color: var(--steel-blue-500);
}

/* Secondary button */

.secondary-button {
  padding: 0.5em 1.5em;
  background-color: var(--steel-blue-50);
  color: var(--steel-blue-500);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: small;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
  border: 2px solid var(--steel-blue-500);
}

.secondary-button:hover {
  background-color: var(--white);
  color: var(--steel-blue-500);
}

/* Icon Button */

.icon-button {
  padding: 0.5em 1.5em;
  background-color: var(--steel-blue-500);
  color: var(--white);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: small;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
  border: 2px solid var(--steel-blue-500);
}

.icon-button:hover {
  background-color: var(--steel-blue-50);
  color: var(--steel-blue-500);
}

.icon-button svg {
  width: 1em;
  height: 1em;
}
