/* INPUT */
.input {
  width: 15em;
  height: 1.2em;
  padding: 0.5em;
  border: solid 3px #d1d1d1;
  border-radius: 0.2em;
  font-family: "Inter", sans-serif;
  color: var(--grey);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
}

.input:focus {
  border: solid 3px var(--primary-color);
}

.input-locked {
  width: 15em;
  height: 1.2em;
  padding: 0.5em;
  border: solid 3px #d1d1d1;
  border-radius: 0.2em;
  font-family: "Inter", sans-serif;
  color: var(--grey);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
  pointer-events: none;
}
