@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* main css */
:root {
  --primary-color: #415a80;
  --secondary-color: #d8e1f0;
  --grey: #34383b;
  --white: #fff;
  --background: #f2f4f8;
  --light-grey: #d7e2e9;
  --alert-red: #cc0a38;
  --alert-green: #07a687;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* BUTTONS */

/* Primary button  */

.primary-button {
  padding: 0.5em 1.5em;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: small;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
  border: 2px solid var(--primary-color);
}

.primary-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Secondary button */

.secondary-button {
  padding: 0.5em 1.5em;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: small;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
  border: 2px solid var(--primary-color);
}

.secondary-button:hover {
  background-color: var(--white);
  color: var(--primary-color);
}

/* Icon Button */

.icon-button {
  padding: 0.5em 1.5em;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: small;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.4s ease;
  border: 2px solid var(--primary-color);
}

.icon-button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.icon-button svg {
  width: 1em;
  height: 1em;
}

/* TYPOGRAHY */

.hero-text {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2.2em;
  margin: 0;
}

.subhero-text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  margin: 0;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

.subheading {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
}

.grey-text {
  font-weight: 400;
  color: var(--grey);
  font-size: 0.7em;
  margin: 0;
}

.paragrahy {
  font-weight: 400;
  color: var(--grey);
}

.small {
  font-weight: 500;
}
/* Badges */

.alert-badge {
  padding: 0.2em 1.5rem;
  background-color: var(--alert-red);
  color: var(--white);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.success-badge {
  padding: 0.2em 1.5rem;
  background-color: var(--alert-green);
  color: var(--white);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
