@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("./button.css");
@import url("./typograhy.css");
@import url("./badges.css");
@import url("./input.css"); */

/* main css */
:root {
  --steel-blue-50: #f3fafc;
  --steel-blue-100: #dff7fa;
  --steel-blue-200: #b4ecf6;
  --steel-blue-300: #81dcf2;
  --steel-blue-400: #3ebeee;
  --steel-blue-500: #189ae7;
  --steel-blue-600: #1277d6;
  --steel-blue-700: #155eb2;
  --steel-blue-800: #154883;
  --steel-blue-900: #133a64;
  --primary-color: #415a80;
  --secondary-color: #d8e1f0;
  --grey: #34383b;
  --white: #fff;
  --background: #f2f4f8;
  --light-grey: #d7e2e9;
  --alert-red: #cc0a38;
  --alert-green: #07a687;

  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 1em 2em;
  margin: 1em 2em;
}

.container-color {
  background-color: var(--steel-blue-50);
  /* border: solid 2px var(--steel-blue-400); */
  border-radius: 1em;
}

/* AVATARS */

.avatar-small {
  width: 2em;
  height: auto;
  border-radius: 100em;
  padding: 0.5em;
}

.avatar-medium {
  width: 3em;
  height: auto;
  border-radius: 100em;
  padding: 0.5em;
}

.avatar-large {
  width: 4em;
  height: auto;
  border-radius: 100em;
  padding: 0.5em;
}

.avatar-extra-large {
  width: 5em;
  height: auto;
  border-radius: 100em;
  padding: 0.5em;
}

/* ALERT */

.alert-success {
  margin: 0.7em 0em;
  padding: 1em 1em;
  background-color: #d1f7f0;
  color: #11593b;
  border-radius: 0.5em;
  font-weight: 500;
}

.alert-error {
  margin: 0.7em 0em;
  padding: 1em 1em;
  background-color: #fad7d6;
  color: #f13531;
  border-radius: 0.5em;
  font-weight: 500;
}

.alert-warning {
  margin: 0.7em 0em;
  padding: 1em 1em;
  background-color: #f8e3ce;
  color: #ee7031;
  border-radius: 0.5em;
  font-weight: 500;
}

.alert-primary {
  margin: 0.7em 0em;
  padding: 1em 1em;
  background-color: var(--steel-blue-100);
  color: var(--steel-blue-500);
  border-radius: 0.5em;
  font-weight: 500;
}

.alert-secondary {
  margin: 0.7em 0em;
  padding: 1em 1em;
  background-color: #c7c7c7;
  color: #32383d;
  border-radius: 0.5em;
  font-weight: 500;
}

/* BADGES */

.badge-avatar {
  position: relative;
}

.badge-green {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5em;
  height: 0.5em;
  background-color: #11593b;
  border-radius: 100em;
}

.badge-pill-primary {
  background-color: var(--steel-blue-600);
  color: var(--white);
  margin: 0.2em 1em;
  padding: 0.4em 0.7em;
  width: 7em;
  height: auto;
  text-align: center;
  border: solid 2px var(--steel-blue-600);
  border-radius: 100em;
  font-size: 0.9em;
}

.badge-pill-secondary {
  background-color: var(--white);
  color: var(--steel-blue-600);
  margin: 0.4em 1em;
  padding: 0.4em 0.7em;
  width: 7em;
  height: auto;
  text-align: center;
  border: solid 2px var(--steel-blue-600);
  border-radius: 100em;
  font-size: 0.9em;
}

/* Input */

.textbox {
  margin: 0.2em 1em;
  padding: 0.4em 0.7em;
  border: solid 2px #c7c7c7;
  border-radius: 0.3em;
  color: var(--grey);
}

.textbox:focus {
  border: solid 2px var(--steel-blue-500);
}

.textbox-warning {
  margin: 0.2em 1em;
  padding: 0.4em 0.7em;
  border: solid 2px #f13531;
  border-radius: 0.3em;
  color: var(--grey);
}

.textbox-warning:focus {
  border: solid 2px var(--steel-blue-500);
}

.textbox-disabled {
  margin: 0.2em 1em;
  padding: 0.4em 0.7em;
  border: solid 2px #d1d1d1;
  border-radius: 0.3em;
  pointer-events: none;
}

/* ==================================================== */

/* TAILWIND CONFIG*/

/* steel: {
  '50':  '#f3fafc',
  '100': '#dff7fa',
  '200': '#b4ecf6',
  '300': '#81dcf2',
  '400': '#3ebeee',
  '500': '#189ae7',
  '600': '#1277d6',
  '700': '#155eb2',
  '800': '#154883',
  '900': '#133a64',
}, */
