/* TYPOGRAHY */

.hero-text {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 2.2em;
  margin: 0;
}

.subhero-text {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  margin: 0;
}

.title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
}

.subheading {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin: 0;
}

.grey-text {
  font-weight: 400;
  color: var(--grey);
  font-size: 0.7em;
  margin: 0;
}

.paragrahy {
  font-weight: 400;
  color: var(--grey);
}

.small {
  font-weight: 500;
}
